
<%= form_tag stations_path, method: "post", id: "station-form" do %>
	<div class="col-md-12"> 
	  <div class="card card-primary card-outline col-md-12">
	    <div class="card-header">
	      <h5 class="card-title m-0">Create a Station</h5>
	      
	    </div>
	    <div class="card-body">
	      <div class="form-group ">
	        <label for="fname" class= "col-md-12 col-form-label">Station name:</label>
	        <div class="col-md-12">
	        	<%=text_field_tag :station_name, @station["station_name"],class: "form-control", :id => "fname",:placeholder =>"Station name...",required: true%>
	        	
	        </div>
	        <div class="invalid-feedback">
        		Please provide a station name.
      		</div>
	      </div>
	      <div class="form-group ">
	        <label for="fname" class= "col-md-12 col-form-label">Station code:</label>
	        <div class="col-md-12">
	        	
	        	<%=text_field_tag :station_code, @station["station_code"],class: "form-control", :id => "fname",:placeholder =>"Station name...",required: true%>
	        </div>
	        <div class="invalid-feedback">
        		Please provide a station code.
      		</div>
	      </div>
	      <div class="form-group ">
	        <div class="col-md-12">
	        	<button class="btn btn-primary station-form-submit">Submit</button>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
<%end%>

