

<%#= form_tag trainline_path(@trainline['id']),method: :post, id: "station-form" do %>
	<div class="col-md-12"> 
	  <div class="card card-primary card-outline col-md-12">
	    <div class="card-header">
	      <h5 class="card-title m-0"><i class="fas fa-code-branch nav-icon"></i> Train Line</h5>
	      
	    </div>
	    <div class="card-body">
	      <div class="form-group ">
	        
	        <div class="col-md-12">
	        	<span class="editable"data-url="<%=trainline_path(@trainline['id'])%>"data-method="patch" data-type="text"><%=@trainline['line_name']%></span>
	        </div>
	        
	      </div>
	      
	      
	    </div>
	  </div>
	</div>
	
<%#end%>


	

<script type="text/javascript">
	$('.editable').jinplace({
	submitFunction: function(opts, value) {
		return $.ajax(opts.url, {
					type: "patch",
					data: {
					   
					    line_name: value
					},
					
				});
	}
	});
</script>