

<%= form_tag trainline_path(@line["id"]),method: :patch, id: "station-form" do %>
	<div class="col-md-12"> 
	  <div class="card card-primary card-outline col-md-12">
	    <div class="card-header">
	      <h5 class="card-title m-0"><i class="fas fa-code-branch nav-icon"></i> Train Line</h5>
	      
	    </div>
	    <div class="card-body">
	      <div class="form-group ">
	        
	        <div class="col-md-12">
	        	<!-- <span class="editable"data-method="patch"data-type="JSON"data-url="<%=trainline_path@line['id']%>">
	        		<%#=:line_name%>
	        			
	        	</span> -->
	        	
	        </div>
	        
	      </div>
	      
	      
	    </div>
	  </div>
	</div>
	
<%end%>


	

